@mixin Breakpoints($point) {
    @if $point ==mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point ==small {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    } @else if $point ==medium {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    } @else if $point ==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin Animtation($Time, $Type, $Prop) {
    transition: $Time $Type $Prop;
}

// rem function for responsive sizing
@function rem($pixels) {
    @return #{$pixels / 16}rem;
}

// main colors
$BaseColor: #bbab30;
$SecondaryColor: #db0300;

@mixin BackDrop() {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000054;
    z-index: 100;
}

@mixin InsideBackdrop() {
    width: 800px;
    border-radius: 10px;
    background-color: white;

    @include Breakpoints(small) {
        width: 95%;
    }

    @include Breakpoints(mobile) {
        width: 95%;
    }
}
